.about-box {
  background: #c8d7eb;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 0.875rem;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: justify;
}

.about-box p {
  font-size: 20px;
}

.about-title {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .about-box {
    max-width: 90%;
    margin-top: 10px;
    border-radius: 0.5rem;
    padding: 10px;
  }
  .about-box p {
    font-size: 16px;
  }
}
