li {
  list-style: none;
  text-align: center;
}

.create-post-title {
  text-align: center;
}

.create-post-box {
  text-align: left;

  border-radius: 0.875rem;
  margin-left: 400px;
  margin-right: 400px;
  background: #c8d7eb;
}

.title-input {
  width: 400px;
  border-radius: 0.875rem;
}

.img-input {
  width: 400px;
  border-radius: 0.875rem;
}

.description-input {
  box-sizing: border-box;
  width: 600px;
  height: 150px;
  position: relative;
  text-align: left;
  padding-bottom: 120px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.author-input {
  border-radius: 0.875rem;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.767);
}

.description-input::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #999;
}

.title-input,
.img-input,
.description-input {
  text-align: left;
}

.create-post-submit-button {
  background-color: #3b82f6;
  color: white;
  margin: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
