.post-title {
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 0.875rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

a {
  text-decoration: none;
}

.posts-img {
  max-width: 400px;
  height: 300px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.posts-author {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.posts-description {
  text-align: center;
  padding: 20px;
  text-align: justify;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.875rem;
  background-color: #f5f5f5;
}

.posts-loading {
  text-align: center;
  font-size: 0.8rem;
  color: #999999;
}

.posts-set {
  border-radius: 0.875rem;
  display: inline-block;
  text-align: center;
  color: black;
  align-items: centre;
  background: #c8d7eb;
  max-width: 500px;
  border: 1px solid transparent;
}

.posts-box:hover,
.posts-box:active {
  border-color: #2c3e50;
  box-shadow: 2px, 2px, 4px, rgba(0, 0, 0, 0.5);
}

.posts-box {
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .posts-set {
    width: calc(33.33% - 20px);
    margin: 5px 15px 25px;
  }
}

.posts-set:hover,
.posts-set:active {
  border-color: #2c3e50;
}

@media screen and (max-width: 767px) {
  .post-title {
    max-width: 100%;
  }

  .posts-img {
    height: auto;
  }

  .posts-description {
    padding: 10px;
    font-size: 0.9rem;
    max-width: 100%;
  }

  .posts-set {
    width: 100%;
    margin: 5px 0 25px;
  }
}
